p {
    color: white;
}

a {
    color: white;
    text-decoration: none;
    padding-right: 12px;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 50px 10px 50px;
}