@import "../../styles/variables.scss";

p {
  color: $color-light;
}

a {
  display: flex;
  color: $color-light;
  text-decoration: none;
  font-size: $font-size-m;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 20;
  background-color: $color-dark;
  box-sizing: border-box;

  .header-wrapper {
    max-width: 1920px;
    margin: 0 auto; // Zentriert die Inhalte
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px $padding-large;
    box-sizing: border-box;
  }

  // Hamburger Icon für Mobile-Menü
  .icon.nav-icon-4 {
    display: none;
    width: 35px;
    height: 30px;
    position: relative;
    cursor: pointer;
    z-index: 2000;

    span {
      background-color: white;
      position: absolute;
      border-radius: 2px;
      transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);

      &:nth-child(1) {
        width: 100%;
        height: 4px;
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        width: 100%;
        height: 4px;
        top: 13px;
        left: 0;
      }

      &:nth-child(3) {
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
      }
    }

    &.open {
      span:nth-child(1) {
        top: 12px;
        transform: rotate(45deg);
      }

      span:nth-child(2) {
        top: 12px;
        transform: rotate(-45deg);
      }

      span:nth-child(3) {
        display: none;
      }
    }
  }

  // Desktop Navigation
  .desktop-nav {
    display: flex;
    gap: 12px;
    min-width: 400px;
    justify-content: flex-end;

    a {
      color: $color-light;
      text-decoration: none;
      font-size: $font-size-m;

      &:hover {
        color: $primary-color;
      }
    }

    @media (max-width: 1200px) {
      display: none;
    }
  }

  // Mobile-Navigation
  .mobile-menu {
    display: none;
    position: absolute;
    top: 124px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 127px);
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    a {
      color: $color-light;
      text-decoration: none;
      font-size: $font-size-lg;
      padding: 15px 0;
    }

    &.open {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    @media (min-width: 1201px) {
      display: none;
    }
  }

  // Mobile-Icon anzeigen bei kleineren Bildschirmen
  @media (max-width: $breakpoint-lg) {
    .icon.nav-icon-4 {
      display: block;
    }
  }
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  justify-content: flex-start;

  img {
    max-height: 50px;
  }
}

.header-center {
  justify-content: center;
  flex: 1;
}

.header-right {
  justify-content: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch > span {
  position: absolute;
  top: 11px;
  pointer-events: none;
  font-family: $font-primary;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: $color-light;
}

input.check-toggle-round-flat:checked ~ .on {
  color: $color-dark;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: $color-light;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: $color-dark;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: $color-light;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: $color-light;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: $color-dark;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

.placeholder {
  height: 124px;
  width: 100%;
}

@media (max-width: $breakpoint-md) {
  header {
    .header-wrapper {
      padding: 37px $padding-medium;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  header {
    .header-wrapper {
      padding: 37px $padding-small;
    }
  }

  img {
    width: 140px;
    height: auto;
  }
}

@media (max-width: $breakpoint-xs) {
  img {
    width: 120px;
    height: auto;
  }

  .placeholder {
    height: 115px;
  }
}

@media (max-width: $breakpoint-min) {
  header {
    .header-wrapper {
      padding: 37px $padding-xsmall;
    }
  }

  img {
    width: 100px;
    height: auto;
  }

  input.check-toggle-round-flat + label {
    width: 80px;
    height: 35px;
  }

  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 36px;
  }

  input.check-toggle-round-flat:checked + label:after {
    margin-left: 38px;
  }
  .placeholder {
    height: 115px;
  }
}
