<header>
    <img src="../../assets/Logo_gs_02.png" alt="Logo" id="logo" />
    <div
      class="icon nav-icon-4"
      (click)="toggleMenu()"
      [class.open]="isMenuOpen"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  
    <!-- Desktop-Links -->
    <nav class="desktop-nav">
      <a href="#about-me">About me</a>
      <a href="#skills">Skills</a>
      <a href="#portfolio">Portfolio</a>
    </nav>
  
    <!-- Mobile-Links -->
    <nav class="mobile-menu" [class.open]="isMenuOpen">
      <a href="#about-me" (click)="closeMenu()">About me</a>
      <a href="#skills" (click)="closeMenu()">Skills</a>
      <a href="#portfolio" (click)="closeMenu()">Portfolio</a>
      <a href="#contact" (click)="closeMenu()">Contact</a>
    </nav>
  </header>
  