<header id="header">
  <!-- Logo -->
  <a href="#header">
      <img src="../../assets/Logo_gs_02.png" alt="Website logo: Gloria Schaffarczyk" id="logo" />
  </a>
  
  <!-- Hamburger Icon for mobile menu -->
  <div
    class="icon nav-icon-4"
    (click)="toggleMenu()"
    [class.open]="isMenuOpen"
  >
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </div>

  <!-- Desktop Navigation Links -->
  <nav class="desktop-nav">
    <a href="#about-me">About me</a>
    <a href="#skills">Skills</a>
    <a href="#portfolio">Portfolio</a>
  </nav>

  <!-- Mobile Navigation Links -->
  <nav class="mobile-menu" [class.open]="isMenuOpen">
    <a href="#about-me" (click)="closeMenu()">About me</a>
    <a href="#skills" (click)="closeMenu()">Skills</a>
    <a href="#portfolio" (click)="closeMenu()">Portfolio</a>
    <a href="#contact" (click)="closeMenu()">Contact</a>
  </nav>
</header>
