<div class="footer-section">
    <div class="footer-line"></div>
    <div class="footer-logo-and-social">
        <a href="#header"><img src="../../assets/Logo_gs_02.png" alt=""></a>
        <p>© Gloria Schaffarczyk 2024</p>
        <div class="footer-social-media-links">
            <a href="#"><img src="../../assets/intro-icon-github.png" alt=""></a>
            <a href="#"><img src="../../assets/intro-icon-email.png" alt=""></a>
            <a href="#"><img src="../../assets/intro-icon-linkedin.png" alt=""></a>
        </div>
    </div>
    <div class="footer-imprint"><a routerLink="/imprint"><p>Imprint</p></a></div>
</div>

