@import '../../styles/variables.scss';

.footer-section {
    height: 20vh;
    position: relative;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
    z-index: 50;
}

.footer-line {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    border-top: 4px solid #00bf89;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}

.footer-logo-and-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.footer-imprint {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
        color: white;
    }
}

.footer-social-media-links img {
    padding-right: 24px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        transform: scale(1.2); 
      }
    
      &:active {
        transform: scale(0.95);
      }
}

@media (max-width: 768px) {
    .footer-section {
        padding: 50px 50px;
    }
}

@media (max-width: 560px) {
    .footer-section {
        padding: 50px 25px;
    }
}