@import "../../styles/variables.scss";

.about-me-section {
  z-index: 4;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  font-size: $font-size-base;
  background-image: url("../../assets/red_shade_01.png");
  background-size: 620px 620px;
  background-repeat: no-repeat;
  background-position: 1650px -30px;
  scroll-margin-top: $anchor-padding;
}

.about-me-left {
  width: 50%;
  padding-left: $padding-large;
  padding-right: $padding-medium;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;

  > h1 {
    font-size: $font-size-xxl;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
  }
}

.about-me-bullet-points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: center;

  > .about-me-bullet-point {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: $gap-medium;

    &:hover img {
      transform: scale(1.1);
    }

    > p {
      padding-left: $padding-small;
      display: flex;
    }
  }
}

.about-me-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.about-me-group {
  max-width: 100%;
  height: auto;
  position: relative;
  right: 0;
}

// Media Queries
@media (max-width: 1700px) {
  .about-me-section {
    background-position: 1450px -30px;
  }
}

@media (max-width: 1600px) {
  .about-me-section {
    background-position: 1250px -30px;
  }
}

@media (max-width: 1450px) {
  .about-me-section {
    background-position: 1150px -30px;
  }
}

@media (max-width: $breakpoint-lg) {
  .about-me-left h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 1200px) {
  .about-me-section {
    background-size: 1500px 480px;
    background-position: 650px 0px;
  }

  .about-me-right {
    display: none;
    width: 0;
  }

  .about-me-left {
    width: 100%;
    padding: 0 $padding-large 0 $padding-large;
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: $breakpoint-md) {
  .about-me-section {
    padding: 0 $padding-medium 0 $padding-medium;
    margin-top: $padding-large;
    background-position: 150px 0px;

    > .about-me-left {
      padding: 0;
    }
  }
  .about-me-left h1 {
    font-size: 3rem;
  }
}

@media (max-width: $breakpoint-sm) {
  .about-me-section {
    padding: 0 $padding-small 0 $padding-small;
    margin-top: $padding-medium;

    > .about-me-left {
      padding: 0;
      display: flex;
      justify-content: flex-start;
    }
  }

  .about-me-bullet-points {
    > .about-me-bullet-point {
      gap: $gap-small;
    }
  }
}

@media (max-width: 500px) {
  .about-me-left p {
    margin-block-start: 0.9em;
    margin-block-end: 0.9em;
  }

  .about-me-left h1 {
    font-size: $font-size-xl;
  }
}

@media (max-width: $breakpoint-s) {
  .about-me-section {
    font-size: $font-size-sm;
  }
}

@media (max-width: $breakpoint-min) {
  .about-me-section {
    font-size: $font-size-xs;
    background-position: 50px 0px;
    margin-top: $padding-small;
    padding: 0 $padding-small;
  }
}
