<div class="about-me-section" id="about-me">
    <div class="about-me-left">
        <h1>{{ translationService.translate('ABOUT_ME.TITLE') }}</h1>
        <p>
            {{ translationService.translate('ABOUT_ME.INTRO') }}
        </p>
        <p>
            {{ translationService.translate('ABOUT_ME.CONNECT') }}
        </p>
        <div class="about-me-bullet-points">
            <div class="about-me-bullet-point">
                <img src="../../assets/about-me-icon-location.png" 
                     [alt]="translationService.translate('ABOUT_ME.BULLET.LOCATION_ICON_ALT')">
                <p>{{ translationService.translate('ABOUT_ME.BULLET.LOCATION') }}</p>
            </div>
            <div class="about-me-bullet-point">
                <img src="../../assets/about-me-icon-lightbulb.png" 
                     [alt]="translationService.translate('ABOUT_ME.BULLET.CREATIVITY_ICON_ALT')">
                <p>{{ translationService.translate('ABOUT_ME.BULLET.CREATIVITY') }}</p>
            </div>
            <div class="about-me-bullet-point">
                <img src="../../assets/about-me-icon-puzzle.png" 
                     [alt]="translationService.translate('ABOUT_ME.BULLET.PROBLEM_ICON_ALT')">
                <p>{{ translationService.translate('ABOUT_ME.BULLET.PROBLEM_SOLVING') }}</p>
            </div>
        </div>
    </div>
    <div class="about-me-right">
        <img src="../../assets/about-me_01.png" class="about-me-group" 
             [alt]="translationService.translate('ABOUT_ME.PORTRAIT_ALT')">
    </div>
</div>
