@import '../../styles/variables.scss';

.about-me-section {
  z-index: 4;
  height: 60vh;
  position: relative;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

.about-me-left {
  height: 60vh;
  width: 45%;
  border: 1px solid rgb(162, 0, 255);
  padding-left: 100px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}

.about-me-right {
  height: 60vh;
  width: 55%;
  border: 1px solid greenyellow;
  display: flex;
  justify-content: flex-end; /* Zentriert das Bild horizontal */
  align-items: center; /* Zentriert das Bild vertikal */
  position: relative; /* Macht das Bild relativ zum Container positionierbar */
}

.about-me-bullet-points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: center;

  > .about-me-bullet-point {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    > p {
      padding-left: 16px;
      display: flex;
    }
  }
}

// .circle-picture-line {
//   position: absolute;
//   right: 0;
//   top: 200px;
//   border: 0;
//   border-top: 4px solid #00bf89;
//   border-top-left-radius: 20px;
//   border-bottom-left-radius: 20px;
//   width: 350px;
// }

.about-me-group {
  max-width: 100%; /* Passt die Bildgröße an den Container an */
  height: auto;
  position: relative; /* Du kannst es anpassen, wenn du absolute Positionierung brauchst */
  right: 0;
}
