@import "../../styles/variables.scss";

.contact-section {
  position: relative;
  height: 100%;
  margin-top: 150px;
  box-sizing: border-box;
  overflow: visible;
  scroll-margin-top: $anchor-padding;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../assets/red_shade_02.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -500px 300px;
    opacity: 0.7;
    z-index: -1;
  }
}

.contact-form-wrapper {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
}

.contact-form-section {
  height: 100%;
  display: flex;
  padding: 10px $padding-large;
  gap: 100px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

h2 {
  padding-left: $padding-large;
  text-align: center;
  font-size: $font-size-xxl;
  margin-block-end: 0.5em;
}

.contact-form-left {
  height: 100%;
  width: 50%;
}

.contact-form-right {
  height: 100%;
  width: 50%;
}

.contact-line {
  position: absolute;
  left: 0;
  top: 10%;
  transform: translateY(-50%);
  border: 0;
  border-top: 4px solid $secondary-color;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
}

input {
  border: 2px solid $secondary-color;
  border-radius: $border-radius-small;
  padding: 12px;
  margin-bottom: 24px;
  background-color: $color-dark;
  color: $color-light;
}

textarea {
  border: 2px solid $secondary-color;
  border-radius: $border-radius-small;
  padding: 12px;
  margin-bottom: 24px;
  background-color: $color-dark;
  color: $color-light;
  font-family: $font-primary;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  border: 2px solid $primary-color !important; 
  box-shadow: 0 0 0px 1000px $color-dark inset !important;
  -webkit-text-fill-color: $color-light !important;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  border: 2px solid $primary-color;
  transition: border-color 0.3s ease;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid $secondary-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button {
  background-color: $highlight-color;
  color: $color-light;
  padding: 10px 30px;
  margin-top: 24px;
  border: 2px solid $highlight-color;
  border-radius: $border-radius-small;
  cursor: not-allowed;
  transition: background-color 0.3s ease, border 0.3s ease;
  font-family: $font-primary;

  &.valid {
    background-color: $primary-color;
    border: 2px solid $primary-color;
    cursor: pointer;
  }
}

input::placeholder,
textarea::placeholder {
  color: $color-light;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: $font-primary;
  color: $color-light;

  input[type="checkbox"] {
    display: none;
  }

  .checkbox-icon {
    margin-bottom: 8px;
    width: 20px;
    height: 20px;
    border: 2px solid $primary-color;
    border-radius: 3px;
    background-color: $color-dark;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:after {
      content: "";
      width: 10px;
      height: 5px;
      border-left: 2px solid $color-light;
      border-bottom: 2px solid $color-light;
      transform: rotate(-45deg) scale(0);
      transform-origin: center;
      transition: transform 0.2s ease-in-out;
    }
  }

  input[type="checkbox"]:checked + .checkbox-icon {
    background-color: $primary-color;
    border-color: $primary-color;
  }

  input[type="checkbox"]:checked + .checkbox-icon:after {
    transform: rotate(-45deg) scale(1);
  }

  a {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.error {
  color: $secondary-color;
  margin-top: -20px;
  margin-bottom: 16px;
  font-size: $font-size-sm;
}

.arrow {
  pointer-events: auto;
  position: relative;
  z-index: 10;
}

.arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: $padding-medium $padding-large;
  box-sizing: border-box;
}

.popup-banner {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $primary-color;
  color: $color-light;
  padding: 10px 20px;
  border-radius: $border-radius-small;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  z-index: 1000;
  animation: slide-in 0.7s ease-out, slide-out 0.7s ease-in 2.7s forwards;

  &.error {
    background-color: $secondary-color;
  }
}

@keyframes slide-in {
  from {
    bottom: -50%;
    opacity: 0;
  }
  to {
    bottom: 50%;
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    bottom: 50%;
    opacity: 1;
  }
  to {
    bottom: -50%;
    opacity: 0;
  }
}

// Media Queries
@media (max-width: 1500px) {
  .contact-line {
    width: 35%;
  }
}

@media (max-width: 1300px) {
  h2 {
    font-size: 4.5rem;
  }

  .contact-line {
    top: 6%;
  }
}

@media (max-width: 1200px) {
  .contact-form-section {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 150px;
  }

  h2 {
    margin-block-end: 0.1em;
  }

  .contact-form-left {
    width: 100%;
    height: unset;
  }

  .contact-form-right {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .contact-line {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .contact-form-section {
    padding: 0px $padding-medium;
  }

  h2 {
    font-size: 3rem;
    padding: 0px $padding-medium;
  }

  .contact-line {
    width: 30%;
    top: 4%;
  }
}

@media (max-width: 560px) {
  .contact-form-section {
    padding: 0px $padding-small;
  }

  h2 {
    font-size: 3rem;
    padding: 0px $padding-small;
  }

  .contact-line {
    width: 26%;
    top: 4%;
  }
}

@media (max-width: 480px) {
   form[_ngcontent-ng-c1513643726],  .contact-form-left p {
    font-size: $font-size-sm;
  }

  .contact-line {
    width: 24%;
    top: 3%;
  }

  h2 {
    font-size: $font-size-xl;
  }
}

@media (max-width: 450px) {
  h2 {
    font-size: $font-size-xl;
    padding: 0px;
  }

  .contact-line {
    width: 22%;
  }

  .custom-checkbox {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact-section {
    background-position: -430px 500px;
  }
}

@media (max-width: 320px) {
  .contact-line {
    width: 15%;
  }

  .contact-section {
    background-position: -470px 500px;
  }

  form[_ngcontent-ng-c1513643726], .contact-form-left p, .custom-checkbox {
    font-size: $font-size-xs;
  }
}

@media (min-width: 1921px) {
  .contact-form-section {
    padding: 10px 0;
  }
}
