@import "../../styles/variables.scss";

.contact-section {
  position: relative; /* Bezugspunkt für absolute Elemente */
  height: 100%;
  margin-top: 150px;
  box-sizing: border-box;
  overflow: visible; /* Verhindert Abschneiden */
  background-image: url('../../assets/red_shade_02.png');
  background-size: cover; /* Alternativ: cover, contain */
  background-repeat: no-repeat;
  background-position: -400px 300px;
  scroll-margin-top: $anchor-padding;
}

.contact-form-section {
  height: 100%;
  display: flex;
  padding: 10px 100px;
  gap: 100px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

h1 {
  padding-left: 100px;
  text-align: center;
  font-size: 5.6rem;
  margin-block-end: 0.5em;
}

.contact-form-left {
  height: 100%;
  width: 50%;
}

.contact-form-right {
  height: 100%;
  width: 50%;
}

.contact-line {
  position: absolute;
  left: 0;
  top: 10%;
  transform: translateY(-50%);
  border: 0;
  border-top: 4px solid #ff3f79;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

input {
  border: 2px solid #ff3f79;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 24px;
  background-color: #141d2f;
  color: white;
}

input:-webkit-autofill {
  background-color: #141d2f !important;
  border: 2px solid #00bf89 !important;
  box-shadow: 0 0 0px 1000px #141d2f inset !important; /* Overlay für den Hintergrund */
  -webkit-text-fill-color: white !important; /* Textfarbe ändern */
}

textarea {
  border: 2px solid #ff3f79;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 24px;
  background-color: #141d2f;
  color: white;
  font-family: "Poppins", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button {
  background-color: #b6b6b6; // Grau (ungültig)
  color: white;
  padding: 10px 30px;
  margin-top: 24px;
  border: 2px solid #b6b6b6;
  border-radius: 5px;
  cursor: not-allowed;
  transition: background-color 0.3s ease, border 0.3s ease;
  font-family: "Poppins", sans-serif;

  &.valid {
    background-color: #00bf89; // Grün (gültig)
    border: 2px solid #00bf89;
    cursor: pointer;
  }
}


input::placeholder {
  color: white;
}

textarea::placeholder {
  color: white;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Poppins", sans-serif;
  color: white;

  input[type="checkbox"] {
    display: none; /* Versteckt die Standard-Checkbox */
  }

  .checkbox-icon {
    margin-bottom: 8px;
    width: 20px;
    height: 20px;
    border: 2px solid #00bf89;
    border-radius: 3px;
    background-color: #141d2f;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:after {
      content: '';
      width: 10px;
      height: 5px;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      transform: rotate(-45deg) scale(0);
      transform-origin: center;
      transition: transform 0.2s ease-in-out;
    }
  }

  /* Wenn die Checkbox ausgewählt ist */
  input[type="checkbox"]:checked + .checkbox-icon {
    background-color: #00bf89; /* Grüner Hintergrund */
    border-color: #00bf89;
  }

  input[type="checkbox"]:checked + .checkbox-icon:after {
    transform: rotate(-45deg) scale(1); /* Haken sichtbar machen */
  }

  a {
    color: #ff3f79;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.error {
  color: #ff3f79;
  margin-top: -20px;
  margin-bottom: 16px;
  font-size: 0.9rem;
}

.arrow {
  pointer-events: auto; /* Standardwert */
  position: relative;
  z-index: 10;
}

.arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 50px 100px;
  box-sizing: border-box;
}

.popup-banner {
  position: fixed;
  bottom: 500px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00bf89;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  z-index: 1000;
  animation: slide-in 0.7s ease-out, slide-out 0.7s ease-in 2.7s forwards;

  &.error {
    background-color: #ff3f79;
  }
}

@keyframes slide-in {
  from {
    bottom: -500px;
    opacity: 0;
  }
  to {
    bottom: 500px;
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    bottom: 500px;
    opacity: 1;
  }
  to {
    bottom: -500px;
    opacity: 0;
  }
}

// Media Queries //
@media (max-width: 1500px) {
  .contact-line {
    width: 35%;
  }
}

@media (max-width: 1300px) {
  h1 {
    font-size: 4.5rem;
  }

  .contact-line {
    top: 8%;
  }
}

@media (max-width: 1200px) {
  .contact-form-section {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 150px;
  }

  h1 {
    margin-block-end: 0.1em;
  }

  .contact-form-left {
    width: 100%;
    height: unset;
  }
  
  .contact-form-right {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .contact-line {
    width: 30%;
    top: 8%;
  }
}

@media (max-width: 768px) {
  .contact-form-section {
    padding: 0px 50px;
  }

  h1 {
    font-size: 3rem;
    padding: 0px 50px;
  }

  .contact-line {
    width: 30%;
    top: 5%;
  }
}

@media (max-width: 560px) {
  .contact-form-section {
    padding: 0px 25px;
  }

  h1 {
    font-size: 3rem;
    padding: 0px 25px;
  }

  .contact-line {
    width: 26%;
    top: 5%;
  }
}

@media (max-width: 480px) {
  .contact-form-left p {
    font-size: 0.9rem;
  }

  form[_ngcontent-ng-c1513643726] {
    font-size: 0.9rem;
  }

  .contact-line {
    width: 24%;
    top: 5%;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 2.2rem;
    padding: 0px;
  }

  .contact-line {
    width: 22%;
    top: 4%;
  }

  .custom-checkbox {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact-section {
    background-position: -430px 500px;
  }
}

@media (max-width: 320px) {
  .contact-line {
    width: 15%;
  }

  .contact-section {
    background-position: -470px 500px;
  }
}