@import "../../styles/variables.scss";

// Layout und Grid-Struktur
.intro-section {
  display: grid;
  grid-template-areas:
    "element4 element1"
    "element2 element2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 30%;
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 24px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-margin-top: 150px;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.8s ease-in-out forwards;
  animation-delay: 0.3s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Hauptkomponenten und Layout-Details
.intro-element1 {
  grid-area: element1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding: 0 $padding-large 0 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  gap: 24px;

  .intro-element1 svg {
    width: 100%;
    height: auto;
    max-width: 742px;
    aspect-ratio: 742 / 162;
    padding-bottom: 12px;
  }
}

.intro-element2 {
  grid-area: element2;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -658px;
  left: 50%;
  transform: translateX(-50%);
  overflow: visible;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.intro-element3 {
  grid-area: element4;
  z-index: 1;
  width: auto;
  height: 100%;
  padding: 0 $padding-large;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
}

.intro-element4 {
  grid-area: element4;
  z-index: 0;
  width: auto;
  height: 100%;
  padding: 0 0 0 $padding-large;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-8%) translateY(14%);

  img {
    width: 100%;
    max-width: 700px;
    height: auto;
  }
}

.intro-bottom-elements {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 1920px;
  height: 200px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 4;
}

.social-media-and-contact {
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.intro-line {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  border-top: 4px solid $secondary-color;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 150px;
}

.intro-contact-symbols {
  z-index: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-left: 200px;
  transition: all 0.3s ease;
  cursor: pointer;

  a {
    text-decoration: none;
    color: $text-color;
    font-size: $font-size-base;
  }

  img {
    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.button-link {
  display: inline-block;
  padding: 15px 30px;
  background-color: $primary-color;
  color: $color-light;
  text-align: center;
  text-decoration: none;
  font-family: $font-primary;
  font-size: 23px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

// Scroll-Indikator und Animation
.scroll-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4;
  position: relative;
  padding: 0 100px 0 0;

  span {
    writing-mode: vertical-lr;
    transform: rotate(0deg);
    font-size: $font-size-base;
    color: $text-color;
  }

  .arrow {
    font-size: 2rem;
    color: $text-color;
  }
}

@keyframes jump {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

// Media Queries

@media (max-width: 1800px) {
  .intro-element2 {
    top: -600px;
  }
}

@media (max-width: 1700px) {
  .intro-element2 {
    top: -570px;
  }
}

@media (max-width: 1600px) {
  .intro-element2 {
    top: -540px;
  }
}

@media (max-width: $breakpoint-lg) {
  .intro-section {
    grid-template-areas:
      "element4"
      "element1"
      "element2";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
  }

  .intro-element1 {
    width: 100%;
    max-width: 100%;
    padding-top: 40px;
    padding: 0 $padding-large 25px $padding-large;
    box-sizing: border-box;
    margin: 0;

    svg {
      width: 80%;
      max-width: 550px;
    }
  }

  .intro-element3 img,
  .intro-element4 img {
    width: 100%;
    height: auto;
  }

  .intro-element4 {
    transform: translateX(-7%) translateY(12%);
  }

  .intro-element2 {
    top: -590px;
  }

  .intro-bottom-elements {
    bottom: -100px;
  }
}

@media (max-width: 1100px) {
  .intro-element2 {
    top: -560px;
  }
}

@media (max-width: 1000px) {
  .intro-contact-symbols a {
    font-size: 1rem;
  }

  .intro-element2 {
    top: -535px;
  }
}

@media (max-width: 890px) {
  .scroll-indicator {
    display: none;
  }

  .intro-bottom-elements {
    align-items: center;
    bottom: -190px;
  }
}

@media (max-width: 840px) {
  .intro-element2 {
    top: -480px;
  }

  .intro-bottom-elements {
    bottom: -150px;
  }
}

@media (max-width: 790px) {
  .intro-element2 {
    top: -470px;
  }
}

@media (max-width: $breakpoint-md) {
  .intro-element1 {
    padding: 0 $padding-medium 25px $padding-medium;
  }

  .intro-element3 {
    padding: 0 $padding-medium;
  }

  .intro-element4 {
    padding: 0 0 0 $padding-medium;
  }

  .mailto-long {
    display: none;
  }

  .intro-bottom-elements {
    bottom: -150px;
  }
}

@media (max-width: 710px) {
  .intro-element2 {
    top: -430px;
  }
}

@media (max-width: 660px) {
  .intro-element2 {
    top: -410px;
  }

  .intro-bottom-elements {
    bottom: -50px;
  }
}

@media (max-width: 610px) {
  .intro-element2 {
    top: -385px;
  }

  .intro-bottom-elements {
    bottom: 15px;
  }
}

@media (max-width: $breakpoint-sm) {
  .intro-element1 {
    padding: 0 $padding-small 0 $padding-small;
  }

  .intro-element2 {
    top: -360px;
  }

  .intro-element3 {
    padding: 0 $padding-small;
  }

  .intro-element4 {
    padding: 0 0 0 $padding-small;
    transform: translateX(-4%) translateY(9%);
  }

  .intro-bottom-elements {
    bottom: 25px;
  }
}

@media (max-width: 500px) {
  .intro-element2 {
    top: -355px;
  }

  .intro-bottom-elements {
    bottom: 90px;
  }
}

@media (max-width: $breakpoint-s) {
  .button-link {
    font-size: 1rem;
  }
}

@media (max-width: 460px) {
  .intro-bottom-elements {
    bottom: 160px;
    justify-content: center;
  }

  .intro-contact-symbols {
    width: 100%;
    padding: 0 $padding-small;
    justify-content: space-evenly;
    gap: 15px;
  }

  .intro-element2 {
    top: -330px;
  }

  .intro-line {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 400px) {
  .intro-element2 {
    top: -280px;
  }

  .intro-line {
    width: 68px;
  }

  .intro-bottom-elements {
    bottom: 220px;
  }
}

@media (max-width: $breakpoint-xs) {
  .intro-element1 {
    padding: 0 10px $padding-small 10px;
  }

  .intro-element2 {
    top: -295px;
  }

  .intro-element3 {
    padding: 0 10px;
  }

  .intro-element4 {
    padding: 0;
  }

  .intro-line {
    width: 39px;
  }

  .intro-bottom-elements {
    bottom: 230px;
  }
}

@media (max-width: 310px) {
  .intro-element2 {
    top: -265px;
  }

  .intro-bottom-elements {
    bottom: 290px;
  }
}

@media (max-width: 270px) {
  .intro-element2 {
    top: -245px;
  }

  .intro-bottom-elements {
    bottom: 330px;
  }
}

/* Baseline ab 1921px ohne obere Begrenzung */
@media (min-width: 1921px) {
  .intro-section {
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      "element4 element1"
      "element2 element2";
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    height: 100vh;
    position: relative;
    overflow: visible;
    align-items: center;
    justify-items: center;
  }

  .intro-element4,
  .intro-element1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro-element2 {
    grid-area: element2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    top: -850px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .intro-bottom-elements {
    width: 1920px;
  }
}

/* Ab 2560px - Nur Änderungen gegenüber der Baseline */
@media (min-width: 2560px) {
  .intro-element2 {
    top: -1020px;
  }
}

/* Ab 3440px - Nur Änderungen gegenüber der vorigen Stufe */
@media (min-width: 3430px) {
  .intro-element2 {
    top: -1200px;
  }
}
