<div class="container">
    <div class="content-wrapper">
        <img class="color-overlay" src="../../assets/intro-shadows.png" alt="Color Overlay">
        <div class="photo">
            <img src="../../assets/hero character photo.png" alt="Hero Photo">
        </div>
        <div class="text-content">
            <span class="vertical-text">I am</span>
            <div class="main-text">
                <h1><span>Dominik Roth</span></h1>
                <h2>Frontend Developer</h2>
                <button class="cta-button">Let's talk!</button>
            </div>
        </div>
    </div>
    <div class="overlap-element">
        <img src="../../assets/overlapping-image.png" alt="Overlapping Image">
    </div>
</div>
<div class="scroll-indicator">
    <span>Scroll down</span>
    <div class="arrow">&#x2193;</div>
</div>
