.custom-container {
  display: grid;
  grid-template-areas: 
    "element4 element1"
    "element2 element2";
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 70% 30%;
  height: 100vh;
  width: calc(100% - 200px);
  margin-left: 100px;
  margin-right: 100px;
}

.custom-element1 {
  grid-area: element1;
  z-index: 3;
  background-color: lightgreen;
  padding: 20px;
}

.custom-element2 {
  grid-area: element2;
  background-color: lightblue;
  width: 100vw;
  margin-left: -100px;
  margin-right: -100px;
}

.custom-element3 {
  grid-area: element4;
  z-index: 2;
  background-color: lightcoral;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.custom-element4 {
  grid-area: element4;
  z-index: 1;
  background-color: violet;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  opacity: 0.5; /* Sichtbar machen, um die Überlappung zu testen */
}

@media (max-width: 768px) {
  .custom-container {
    grid-template-areas: 
      "element4"
      "element1"
      "element2";
    grid-template-columns: 1fr; /* Einspaltiges Layout */
    grid-template-rows: auto;
    width: calc(100% - 200px); /* Margins links und rechts 100px */
    margin-left: 100px;
    margin-right: 100px;
  }

  .custom-element3 {
    grid-area: element4;
    z-index: 2;
    width: 100%;
    height: auto;
    position: relative; /* Sicherstellen, dass es über Element 4 liegt */
  }

  .custom-element4 {
    grid-area: element4;
    z-index: 1;
    width: 100%; /* Sicherstellen, dass es dieselbe Breite wie Element 3 hat */
    height: 100%; /* Übernimmt die Höhe von Element 3 */
    position: relative; /* Stellt sicher, dass es sich direkt hinter Element 3 befindet */
    opacity: 0.5; /* Sichtbar machen, um die Überlappung zu testen */
  }

  .custom-element1 {
    grid-area: element1;
    width: 100%; /* Gleiche Breite wie Elemente 3 und 4 */
    max-width: 100%; /* Stellt sicher, dass es nicht breiter als 100% wird */
    box-sizing: border-box; /* Verhindert, dass Padding die Breite beeinflusst */
    height: auto;
    margin: 0;
  }

  .custom-element2 {
    grid-area: element2;
    width: 100vw;
    margin-left: -100px;
    margin-right: -100px;
  }
}


/* Scroll-Indikator */
.scroll-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  right: 2rem; /* Auf die rechte Seite verschoben */
  z-index: 4;
  animation: jump 2s ease infinite;
}

.scroll-indicator span {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 1rem;
  color: #fff;
}

.scroll-indicator .arrow {
  font-size: 2rem;
  color: #fff;
}

/* Animation */
@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
}

