<div class="skills-section anchor-padding" id="skills">
  <div class="skills-left">
    <div class="skills-line d-none"></div>
    <h2 class="d-none">{{ translationService.translate('SKILLS.TITLE') }}</h2>
    <span class="d-none">{{ translationService.translate('SKILLS.DESCRIPTION') }}</span>
    <div class="skills-symbols">
      @for (skill of skills; track skill.name) {
      <div class="skills-icon-and-name" [ngClass]="{'highlight': skill.isHighlight || false}"
        (mouseenter)="onHover(skill, $index)" (mouseleave)="onLeave(skill, $index)">
        <img [src]="skill.imgSrc" alt="{{ skill.name }}">
        <p>{{ skill.name }}</p>
        @if (skill.isHighlight) {
        <img src="assets/skills-icon-learning-interest.png"
          alt="{{ translationService.translate('SKILLS.TOOLTIP_ALT') }}" class="tooltip-image hide-on-hover"
          [ngClass]="{ 'hide-on-hover': !showTooltip }">
        }
      </div>
      }
    </div>
    <h3 class="d-none">
      {{ translationService.translate('SKILLS.LOOKING') }}
      <strong style="color: #ff3f79">{{ translationService.translate('SKILLS.CONTACT_ME') }}</strong>?
    </h3>
    <span class="d-none">{{ translationService.translate('SKILLS.CONTACT_TEXT') }}</span>
    <a href="#contact">
      <button class="d-none">{{ translationService.translate('SKILLS.CONTACT_ME_BUTTON') }}</button>
    </a>
  </div>

  <div class="skills-right">
    <div class="skills-line"></div>
    <div class="skills-text-and-button">
      <h2>{{ translationService.translate('SKILLS.TITLE') }}</h2>
      <span>{{ translationService.translate('SKILLS.DESCRIPTION') }}</span>
      <h3>
        {{ translationService.translate('SKILLS.LOOKING') }}
        <strong style="color: #ff3f79">{{ translationService.translate('SKILLS.CONTACT_ME') }}</strong>?
      </h3>
      <span>{{ translationService.translate('SKILLS.CONTACT_TEXT') }}</span>
      <a (click)="navigateToSection('contact')">
        <button>{{ translationService.translate('SKILLS.CONTACT_ME_BUTTON') }}</button>
      </a>
    </div>
  </div>
</div>
<div class="background-image">
  <img src="../../assets/green_shade_01.png" alt="">
</div>