<div class="portfolio-section" id="portfolio">
  <div class="portfolio-head">
    <h1>{{ translationService.translate('PORTFOLIO.TITLE') }}</h1>
    <div class="portfolio-line"></div>
    <p>{{ translationService.translate('PORTFOLIO.DESCRIPTION') }}</p>
  </div>
  @for (project of projects; track project.titleKey) {
  <div class="project-container" [ngClass]="{ 'reverse-layout': project.reverseLayout }">
    <div class="project-image">
      <img [src]="project.imageSrc" [alt]="translationService.translate(project.titleKey)">
    </div>
    <div class="project-details">
      <h2>{{ translationService.translate(project.titleKey) }}</h2>
      <p class="portfolio-technologies">{{ project.technologies.join(' | ') }}</p>
      <p>{{ translationService.translate(project.descriptionKey) }}</p>
      <div class="project-links">
        <a [href]="project.liveTestLink" target="_blank" class="btn-live-test">
          {{ translationService.translate('BUTTON.LIVE_TEST') }}
        </a>
        <a [href]="project.githubLink" target="_blank" class="btn-github">
          {{ translationService.translate('BUTTON.GITHUB') }}
        </a>
      </div>
    </div>
  </div>
  }
</div>
<div class="background-image">
  <img src="../../assets/red_shade_02.png" alt="">
</div>