@import "../../styles/variables.scss";

.portfolio-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 100vw;
  width: 100%;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // overflow-x: hidden;
  overflow: visible;
  scroll-margin-top: $anchor-padding;

  /* Zwei Bilder als Hintergrund */
  background-image: url('../../assets/red_shade_02.png'), url('../../assets/green_shade_01.png');
  background-size: 900px 800px, 500px 500px;
  background-repeat: no-repeat, no-repeat;
  background-position: -550px 550px, -200px 4px;
  z-index: -1;
}

.portfolio-head {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  overflow-x: hidden;

  > h1 {
    font-size: 5.6rem;
    margin-block-end: 0.1em;
    background-color: $color-dark;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 5;
    box-sizing: border-box;
  }

  > p {
    margin-block-end: 0;
    padding: 0 100px;
  }
}

.portfolio-line {
  z-index: 4;
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  border: 0;
  border-top: 4px solid $secondary-color;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 75%;
}

.project-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid #ddd;
  padding: 0 100px;
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.project-container.reverse-layout {
  flex-direction: row-reverse;
}

.project-image img {
  max-width: 100%;
  height: auto;
}

.project-details {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.project-container.reverse-layout .project-details {
  align-items: flex-end;
  text-align: right;
}

.portfolio-technologies {
  color: #00bf89;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h2 {
  margin-block-start: 0;
  color: #ff3f79;
}

.project-links {
  display: flex;
  gap: 40px;
  align-items: center;
}

.btn-live-test,
.btn-github {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-live-test {
  background-color: #ff3f79;
  border: 2px solid #ff3f79;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #00bf89;
    border: 2px solid #00bf89;
   }
}

.btn-github {
  background-color: transparent;
  border: 2px solid #00bf89;
  color: #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #00bf89;
   }
}

@media (max-width: 1300px) {
  .portfolio-head > h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 1200px) {
  .portfolio-section {
    text-align: center;
    background-size: 900px 800px, 500px 500px; 
    background-position: -600px 700px, -200px 200px; /* Individuelle Positionen für beide Bilder */
    }

  .portfolio-line {
    top: 53%;
    width: 80%;
  }

  .project-container {
    flex-direction: column;
  }

  .project-container.reverse-layout {
    flex-direction: column;
  }

  .project-container.reverse-layout .project-details {
    align-items: center !important;
    text-align: center !important;
  }

  .project-details {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .portfolio-section {
    gap: 24px;
  }

  .portfolio-head > h1 {
    font-size: 3rem;
  }

  .portfolio-line {
    top: 45%;
  }

  .portfolio-head > p {
    padding: 0 25px;
  }

  .project-container {
    padding: 0 50px;
  }
}

@media (max-width: 683px) {
  .portfolio-line {
    top: 40%
  }
}

@media (max-width: 560px) {
  .project-container {
    padding: 0 25px;
  }

  .portfolio-line {
    top: 40%;
  }

  .portfolio-head > p {
    padding: 0 25px;
  }
}

@media (max-width: 480px) {
  .portfolio-section {
    font-size: 0.9rem;
    background-position: -650px 600px, -350px 200px; /* Individuelle Positionen für beide Bilder */
  }

  .portfolio-line {
    top: 43%;
  }
}

@media (max-width: 450px) {
  .portfolio-head > h1 {
    font-size: 2.2rem;
  }

  .portfolio-line {
    top: 38%;
  }
}

@media (max-width: 390px) {
  .portfolio-line {
    top: 37%;
  }
}

@media (max-width: 360px) {
  .portfolio-section {
    font-size: 0.8rem;
  }

  .portfolio-line {
    top: 40%;
    width: 85%;
  }

  .project-links {
    gap: 12px;
  }
}

@media (max-width: 354px) {
  .portfolio-line {
    top: 35%;
  }
}

@media (max-width: 304px) {
  .portfolio-line {
    top: 36%;
  }
}

@media (max-width: 271px) {
  .portfolio-line {
    top: 36%;
    width: 90%;
  }

  .portfolio-head > p {
    margin-block-end: 0;
  }
}