<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-header (menuToggle)="onMenuToggle($event)"></app-header>
<main class="content-wrapper">
  <app-intro></app-intro>
  <app-about-me></app-about-me>
  <app-skills></app-skills>
  <app-portfolio></app-portfolio>
  <app-testimonials></app-testimonials>
  <app-contact-form></app-contact-form>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>