<div class="testimonial-container">
    <div class="single-testimonial">
        <div class="quote-container">
            <img src="../../assets/testimonial-quotation-mark.png" 
                 alt="quotation-mark-image"
                 class="quotation-mark-image">
            <p class="quote">
                {{ translationService.translate(testimonials[currentTestimonial].quoteKey) }}
            </p>
            <div class="line-and-author">
                <div class="quote-line"></div>
                <p class="quote-author">
                    {{ translationService.translate(testimonials[currentTestimonial].authorKey) }}
                </p>
            </div>
        </div>
        <div class="testimonial-line" [class.animate]="true"></div>
        <div class="testimonial-img">
            <img [src]="testimonials[currentTestimonial].imageSrc" 
                 [alt]="translationService.translate(testimonials[currentTestimonial].authorKey)">
        </div>
    </div>

    <div class="testimonial-navigation">
        <button class="arrowLeft" (click)="slideLeft()">←</button>

        <!-- Dots Navigation using @for -->
        <div class="dots">
            @for (testimonial of testimonials; track $index) {
            <span [class.active-dot]="currentTestimonial === $index"
                  [class.inactive-dot]="currentTestimonial !== $index">
            </span>
            }
        </div>

        <button class="arrowRight" (click)="slideRight()">→</button>
    </div>
</div>
