@import "../../styles/variables.scss";

.testimonial-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 12px $padding-large;
  box-sizing: border-box;
  overflow: visible;
  background-image: url("../../assets/green_shade_02.png");
  background-size: 1500px 400px;
  background-repeat: no-repeat;
  background-position: 1600px 10px;
}

.testimonial-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.single-testimonial {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 24px;
  box-sizing: border-box;
}

.testimonial-line {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  border-top: 4px solid $secondary-color;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 25%;
  opacity: 0;

  &.animate {
    animation: fadeIn 0.4s ease-in-out forwards;
  }
}

.quote-line {
  flex-grow: 1;
  height: 3px;
  background-color: $secondary-color;
  border-radius: 20px;
}

.quote,
.testimonial-img,
.testimonial-img img {
  opacity: 0;
  animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.quote-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 3px solid $primary-color;
  border-radius: 25px;
  padding: 25px 96px;
  width: 35vw;
  > p {
    text-align: start;
    width: 100%;
  }
}

.quote-author {
  color: $color-light;
}

.line-and-author {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.quotation-mark-image {
  position: absolute;
  left: -70px;
  top: -30px;
}

.testimonial-navigation {
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.arrowLeft,
.arrowRight {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  color: $primary-color;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
}

.arrowLeft:hover,
.arrowRight:hover {
  color: $color-light;
}

/* Dots Styles */
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dots span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.active-dot {
  background-color: $primary-color;
}

.inactive-dot {
  background-color: $secondary-color;
}

@media (max-width: 1700px) {
  .testimonial-container {
    background-position: 1340px 10px;
  }
}

@media (max-width: 1440px) {
  .testimonial-container {
    background-position: 1100px 10px;
  }
}

@media (max-width: $breakpoint-lg) {
  .testimonial-container {
    background-size: 1000px 500px;
    background-position: 700px 10px;
  }

  .single-testimonial {
    flex-direction: column-reverse;
    gap: 32px;
  }

  .testimonial-navigation {
    bottom: -25px;
  }

  .testimonial-img img {
    height: 250px;
  }

  .testimonial-line {
    top: 26%;
    width: 40%;
  }
}

@media (max-width: $breakpoint-md) {
  .testimonial-container {
    padding: 12px $padding-medium;
    background-position: 400px 10px;
  }

  .quote-container {
    padding: 24px 48px;
  }

  .testimonial-img img {
    height: 200px;
  }

  .testimonial-line {
    top: 20%;
  }
}

@media (max-width: $breakpoint-sm) {
  .testimonial-container {
    background-position: 150px 10px;
    padding: 12px $padding-small;
    font-size: $font-size-sm;
  }

  .quote-container {
    padding: 12px 24px;
  }

  .quotation-mark-image {
    height: 40px;
    left: -40px;
    top: -12px;
  }

  .testimonial-img img {
    height: 180px;
  }
}

@media (max-width: 460px) {
  .testimonial-line {
    top: 17%;
  }
}

@media (max-width: $breakpoint-xs) {
  .testimonial-line {
    top: 14%;
  }
}
